body,
h1,
p,
ul {
  margin: 0;
}

body {
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.company-name {
  color: #000;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list a {
  padding: 5px;
}

.nav-item {
  text-decoration: none;
  color: #69696a;
}

.accent-link {
  background-color: black;
  display: block;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.about-text {
  border-left: 2px solid black;
  padding-left: 10px;
  color: #69696a;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(247, 193, 162, 0.7);
  display: flex;
  justify-content: space-between;
  color: #69696a;
  padding: 5px;
  box-sizing: border-box;
}

.footer-nav-list {
  display: flex;
}

.footer-nav-list a {
  color: #69696a;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main {
    margin-top: 100px;
    display: flex;
  }

  .about-container {
    flex: 1;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .circle-container {
    flex: 1;
    position: relative;
  }

  .hire-us-link {
    width: 70px;
    background-color: black;
    border-radius: 30px;
  }

  .about-text {
    width: 50%;
    font-size: 15px;
  }

  .circle {
    border-radius: 50%;
    position: absolute;
  }

  .big {
    background-color: rgba(247, 136, 167, 0.6);
    height: 250px;
    width: 250px;
    right: 50px;
    top: 50px;
  }

  .medium {
    background-color: rgba(247, 193, 162, 0.7);
    height: 200px;
    width: 200px;
    right: 0;
    top: 200px;
  }

  .small {
    background-color: rgba(207, 130, 213, 0.6);
    height: 125px;
    width: 125px;
    right: 0;
    top: 150px;
  }
}
